body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5077 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u5081 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u5082 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5083 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5084 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5085 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5086 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u5087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5088 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u5089 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5090 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u5091 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5092 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u5093 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5094 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u5095 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5096 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u5097 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5099 {
  position:absolute;
  left:220px;
  top:70px;
  width:281px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5100 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u5101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u5102 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u5103 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u5104 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u5105 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u5107 {
  position:absolute;
  left:569px;
  top:76px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5109 {
  position:absolute;
  left:662px;
  top:67px;
  width:40px;
  height:40px;
}
#u5110 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:95px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5112 {
  position:absolute;
  left:0px;
  top:140px;
  width:720px;
  height:95px;
}
#u5113 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u5115 {
  position:absolute;
  left:49px;
  top:157px;
  width:231px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u5116 {
  position:absolute;
  left:2px;
  top:19px;
  width:227px;
  word-wrap:break-word;
}
#u5117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5117 {
  position:absolute;
  left:441px;
  top:157px;
  width:231px;
  height:62px;
  font-size:20px;
}
#u5118 {
  position:absolute;
  left:2px;
  top:19px;
  width:227px;
  word-wrap:break-word;
}
#u5119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1035px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5119 {
  position:absolute;
  left:0px;
  top:245px;
  width:720px;
  height:1035px;
}
#u5120 {
  position:absolute;
  left:2px;
  top:510px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:912px;
}
#u5121 {
  position:absolute;
  left:0px;
  top:368px;
  width:720px;
  height:912px;
}
#u5122 {
  position:absolute;
  left:2px;
  top:448px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
