body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12308 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u12309 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u12312 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u12313 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12314 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12315 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u12316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12316 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12317 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u12318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12319 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u12320 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12321 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u12322 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12323 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u12324 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12325 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u12326 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12327 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u12328 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12329 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12330 {
  position:absolute;
  left:291px;
  top:66px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12331 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u12333 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u12334 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u12335 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u12336 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:226px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12338 {
  position:absolute;
  left:26px;
  top:154px;
  width:668px;
  height:82px;
}
#u12339 {
  position:absolute;
  left:2px;
  top:33px;
  width:664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#CCCCCC;
}
#u12340 {
  position:absolute;
  left:82px;
  top:181px;
  width:144px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#CCCCCC;
}
#u12341 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u12342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u12342 {
  position:absolute;
  left:631px;
  top:176px;
  width:39px;
  height:39px;
}
#u12343 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
