body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6676 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u6677 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u6680 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u6681 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6682 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6683 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u6684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6684 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6685 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6687 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u6688 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6689 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u6690 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6691 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u6692 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6693 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u6694 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6695 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u6696 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6697 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u6698 {
  position:absolute;
  left:287px;
  top:65px;
  width:155px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u6699 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u6701 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u6702 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u6703 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u6704 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u6707 {
  position:absolute;
  left:616px;
  top:74px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u6708 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u6709 {
  position:absolute;
  left:660px;
  top:67px;
  width:40px;
  height:39px;
}
#u6710 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:226px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6712 {
  position:absolute;
  left:36px;
  top:161px;
  width:668px;
  height:82px;
}
#u6713 {
  position:absolute;
  left:2px;
  top:33px;
  width:664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u6714 {
  position:absolute;
  left:92px;
  top:188px;
  width:104px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u6715 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u6716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u6716 {
  position:absolute;
  left:641px;
  top:183px;
  width:39px;
  height:39px;
}
#u6717 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFCC66;
}
#u6718 {
  position:absolute;
  left:36px;
  top:276px;
  width:342px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFCC66;
}
#u6719 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u6720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:2px;
}
#u6720 {
  position:absolute;
  left:0px;
  top:317px;
  width:720px;
  height:1px;
}
#u6721 {
  position:absolute;
  left:2px;
  top:-8px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:962px;
}
#u6722 {
  position:absolute;
  left:0px;
  top:318px;
  width:720px;
  height:962px;
}
#u6723 {
  position:absolute;
  left:2px;
  top:473px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
