body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u5994 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  font-size:20px;
  color:#FFCC66;
}
#u5995 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u5998 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u5999 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6000 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6001 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u6002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6002 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6003 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6005 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u6006 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6007 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u6008 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6009 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u6010 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6011 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u6012 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6013 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u6014 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u6016 {
  position:absolute;
  left:288px;
  top:66px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u6017 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u6019 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u6021 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u6022 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:172px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  position:absolute;
  left:0px;
  top:139px;
  width:720px;
  height:172px;
}
#u6026 {
  position:absolute;
  left:2px;
  top:78px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6027 {
  position:absolute;
  left:21px;
  top:149px;
  width:187px;
  height:62px;
  font-size:20px;
}
#u6028 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u6029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u6029 {
  position:absolute;
  left:267px;
  top:149px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u6030 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u6031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u6031 {
  position:absolute;
  left:513px;
  top:149px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u6032 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u6033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u6033 {
  position:absolute;
  left:21px;
  top:236px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u6034 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u6035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u6035 {
  position:absolute;
  left:267px;
  top:236px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u6036 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u6037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u6037 {
  position:absolute;
  left:513px;
  top:236px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u6038 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u6039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:353px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u6039 {
  position:absolute;
  left:1px;
  top:321px;
  width:719px;
  height:353px;
  font-size:20px;
  color:#FFCC66;
}
#u6040 {
  position:absolute;
  left:2px;
  top:168px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6043 {
  position:absolute;
  left:141px;
  top:353px;
  width:147px;
  height:42px;
  font-size:20px;
}
#u6044 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u6045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u6045 {
  position:absolute;
  left:287px;
  top:353px;
  width:147px;
  height:42px;
  font-size:20px;
  color:#FFCC66;
}
#u6046 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u6047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u6047 {
  position:absolute;
  left:433px;
  top:353px;
  width:147px;
  height:42px;
  font-size:20px;
  color:#FFCC66;
}
#u6048 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6051 {
  position:absolute;
  left:162px;
  top:479px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6052 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u6053 {
  position:absolute;
  left:172px;
  top:436px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#FFCC66;
  text-align:center;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6056 {
  position:absolute;
  left:522px;
  top:479px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6057 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u6058 {
  position:absolute;
  left:524px;
  top:436px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#FFCC66;
  text-align:center;
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6062 {
  position:absolute;
  left:153px;
  top:592px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6063 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:33px;
}
#u6064 {
  position:absolute;
  left:152px;
  top:549px;
  width:58px;
  height:33px;
  font-size:28px;
  color:#FFCC66;
  text-align:center;
}
#u6065 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6067 {
  position:absolute;
  left:495px;
  top:592px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6068 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
#u6069 {
  position:absolute;
  left:500px;
  top:549px;
  width:82px;
  height:33px;
  font-size:28px;
  color:#FFCC66;
  text-align:center;
}
#u6070 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
