body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
}
#u8842 {
  position:absolute;
  left:1704px;
  top:0px;
  width:540px;
  height:960px;
}
#u8843 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
}
#u8844 {
  position:absolute;
  left:1139px;
  top:0px;
  width:540px;
  height:960px;
}
#u8845 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
}
#u8846 {
  position:absolute;
  left:578px;
  top:0px;
  width:540px;
  height:960px;
}
#u8847 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
}
#u8848 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
}
#u8849 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
