body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u12482 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  font-size:18px;
  color:#CCCCCC;
}
#u12483 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12484 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u12486 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u12487 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12488 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12489 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u12490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12490 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12491 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u12492 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12493 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u12494 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12495 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u12496 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12497 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u12498 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12499 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u12500 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12501 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u12502 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12504 {
  position:absolute;
  left:291px;
  top:66px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12505 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u12507 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u12508 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u12509 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u12510 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:226px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12512 {
  position:absolute;
  left:26px;
  top:154px;
  width:668px;
  height:82px;
}
#u12513 {
  position:absolute;
  left:2px;
  top:33px;
  width:664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u12514 {
  position:absolute;
  left:82px;
  top:181px;
  width:131px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u12515 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u12516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u12516 {
  position:absolute;
  left:631px;
  top:176px;
  width:39px;
  height:39px;
}
#u12517 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12518 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:128px;
}
#u12519 {
  position:absolute;
  left:0px;
  top:266px;
  width:720px;
  height:128px;
}
#u12520 {
  position:absolute;
  left:2px;
  top:56px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
#u12522 {
  position:absolute;
  left:20px;
  top:276px;
  width:108px;
  height:108px;
}
#u12523 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  word-wrap:break-word;
}
#u12524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12524 {
  position:absolute;
  left:150px;
  top:287px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12525 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12527 {
  position:absolute;
  left:150px;
  top:352px;
  width:162px;
  height:32px;
}
#u12528 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12529 {
  position:absolute;
  left:162px;
  top:356px;
  width:137px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12530 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u12531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F6DAAA;
}
#u12531 {
  position:absolute;
  left:627px;
  top:319px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F6DAAA;
}
#u12532 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
