body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4119 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u4120 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u4123 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u4124 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4125 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4126 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u4127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4127 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4128 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u4129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4130 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u4131 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4132 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u4133 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4134 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u4135 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4136 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u4137 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4138 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u4139 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4141 {
  position:absolute;
  left:274px;
  top:66px;
  width:181px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4142 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u4143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u4144 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u4145 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u4146 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1155px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4148 {
  position:absolute;
  left:0px;
  top:125px;
  width:720px;
  height:1155px;
}
#u4149 {
  position:absolute;
  left:2px;
  top:570px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:226px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4151 {
  position:absolute;
  left:26px;
  top:151px;
  width:668px;
  height:82px;
}
#u4152 {
  position:absolute;
  left:2px;
  top:33px;
  width:664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u4153 {
  position:absolute;
  left:82px;
  top:178px;
  width:79px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u4154 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u4155 {
  position:absolute;
  left:631px;
  top:173px;
  width:39px;
  height:39px;
}
#u4156 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4157 {
  position:absolute;
  left:264px;
  top:301px;
  width:192px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4158 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
