body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u12941 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  font-size:20px;
  color:#FFCC66;
}
#u12942 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u12945 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u12946 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12947 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12948 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u12949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12949 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12950 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u12951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12952 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u12953 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12954 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u12955 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12956 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u12957 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12958 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u12959 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12960 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u12961 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12963 {
  position:absolute;
  left:288px;
  top:66px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12964 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u12966 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u12967 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u12968 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u12969 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:172px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12972 {
  position:absolute;
  left:0px;
  top:139px;
  width:720px;
  height:172px;
}
#u12973 {
  position:absolute;
  left:2px;
  top:78px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12974 {
  position:absolute;
  left:21px;
  top:149px;
  width:187px;
  height:62px;
  font-size:20px;
}
#u12975 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u12976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u12976 {
  position:absolute;
  left:267px;
  top:149px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u12977 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u12978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u12978 {
  position:absolute;
  left:513px;
  top:149px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u12979 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u12980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u12980 {
  position:absolute;
  left:21px;
  top:236px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u12981 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u12982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u12982 {
  position:absolute;
  left:267px;
  top:236px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u12983 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u12984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u12984 {
  position:absolute;
  left:513px;
  top:236px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u12985 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u12986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:353px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u12986 {
  position:absolute;
  left:1px;
  top:321px;
  width:719px;
  height:353px;
  font-size:20px;
  color:#FFCC66;
}
#u12987 {
  position:absolute;
  left:2px;
  top:168px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12990 {
  position:absolute;
  left:141px;
  top:353px;
  width:147px;
  height:42px;
  font-size:20px;
}
#u12991 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u12992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u12992 {
  position:absolute;
  left:287px;
  top:353px;
  width:147px;
  height:42px;
  font-size:20px;
  color:#FFCC66;
}
#u12993 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u12994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u12994 {
  position:absolute;
  left:433px;
  top:353px;
  width:147px;
  height:42px;
  font-size:20px;
  color:#FFCC66;
}
#u12995 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u12996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12998 {
  position:absolute;
  left:162px;
  top:479px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12999 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u13000 {
  position:absolute;
  left:172px;
  top:436px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#FFCC66;
  text-align:center;
}
#u13001 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u13002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13003 {
  position:absolute;
  left:522px;
  top:479px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13004 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u13005 {
  position:absolute;
  left:524px;
  top:436px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#FFCC66;
  text-align:center;
}
#u13006 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13009 {
  position:absolute;
  left:153px;
  top:592px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13010 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u13011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:33px;
}
#u13011 {
  position:absolute;
  left:152px;
  top:549px;
  width:58px;
  height:33px;
  font-size:28px;
  color:#FFCC66;
  text-align:center;
}
#u13012 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u13013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13014 {
  position:absolute;
  left:495px;
  top:592px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13015 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
#u13016 {
  position:absolute;
  left:500px;
  top:549px;
  width:82px;
  height:33px;
  font-size:28px;
  color:#FFCC66;
  text-align:center;
}
#u13017 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
