body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13248 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u13249 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u13252 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u13253 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13254 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13255 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u13256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13256 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13257 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u13258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13259 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u13260 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13261 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u13262 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13263 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u13264 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13265 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u13266 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13267 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u13268 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u13270 {
  position:absolute;
  left:288px;
  top:66px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u13271 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u13272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u13273 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u13274 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u13275 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u13276 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1157px;
}
#u13278 {
  position:absolute;
  left:0px;
  top:129px;
  width:720px;
  height:1157px;
}
#u13279 {
  position:absolute;
  left:2px;
  top:570px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:820px;
}
#u13280 {
  position:absolute;
  left:0px;
  top:865px;
  width:720px;
  height:820px;
}
#u13281 {
  position:absolute;
  left:2px;
  top:402px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
