body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u12344 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  font-size:18px;
  color:#CCCCCC;
}
#u12345 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12347 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u12348 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u12349 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12350 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12351 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u12352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12352 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12353 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u12354 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12355 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u12356 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12357 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u12358 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12359 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u12360 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12361 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u12362 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12363 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u12364 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12366 {
  position:absolute;
  left:291px;
  top:66px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12367 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u12369 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u12370 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u12371 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u12372 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:226px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12374 {
  position:absolute;
  left:26px;
  top:154px;
  width:668px;
  height:82px;
}
#u12375 {
  position:absolute;
  left:2px;
  top:33px;
  width:664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u12376 {
  position:absolute;
  left:82px;
  top:181px;
  width:131px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u12377 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u12378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u12378 {
  position:absolute;
  left:631px;
  top:176px;
  width:39px;
  height:39px;
}
#u12379 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:128px;
}
#u12381 {
  position:absolute;
  left:0px;
  top:266px;
  width:720px;
  height:128px;
}
#u12382 {
  position:absolute;
  left:2px;
  top:56px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
#u12384 {
  position:absolute;
  left:20px;
  top:276px;
  width:108px;
  height:108px;
}
#u12385 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  word-wrap:break-word;
}
#u12386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12386 {
  position:absolute;
  left:150px;
  top:287px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12387 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12388 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12389 {
  position:absolute;
  left:150px;
  top:352px;
  width:162px;
  height:32px;
}
#u12390 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12391 {
  position:absolute;
  left:162px;
  top:356px;
  width:137px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12392 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u12393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:51px;
  background:inherit;
  background-color:rgba(217, 175, 109, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12393 {
  position:absolute;
  left:601px;
  top:305px;
  width:93px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12394 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
