body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1061px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12225 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u12226 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u12229 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u12230 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12231 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12232 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u12233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12233 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12234 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u12235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12236 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u12237 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12238 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u12239 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12240 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u12241 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12242 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u12243 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12244 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u12245 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12247 {
  position:absolute;
  left:251px;
  top:66px;
  width:227px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12248 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u12249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u12250 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u12251 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u12252 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u12253 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u12256 {
  position:absolute;
  left:576px;
  top:74px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u12257 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12258 {
  position:absolute;
  left:657px;
  top:66px;
  width:40px;
  height:40px;
}
#u12259 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1145px;
}
#u12260 {
  position:absolute;
  left:0px;
  top:135px;
  width:720px;
  height:1145px;
}
#u12261 {
  position:absolute;
  left:2px;
  top:564px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12262 {
  position:absolute;
  left:736px;
  top:1223px;
  width:325px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12263 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
