body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1061px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14548 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u14549 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14550 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14551 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u14552 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u14553 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14554 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14555 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14556 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14557 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u14558 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14559 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u14560 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14561 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u14562 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14563 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u14564 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14565 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u14566 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14567 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u14568 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14569 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u14570 {
  position:absolute;
  left:251px;
  top:66px;
  width:227px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u14571 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u14572 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u14573 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u14574 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u14575 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u14576 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14578 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u14579 {
  position:absolute;
  left:576px;
  top:74px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u14580 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14581 {
  position:absolute;
  left:657px;
  top:66px;
  width:40px;
  height:40px;
}
#u14582 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1145px;
}
#u14583 {
  position:absolute;
  left:0px;
  top:135px;
  width:720px;
  height:1145px;
}
#u14584 {
  position:absolute;
  left:2px;
  top:564px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14585 {
  position:absolute;
  left:736px;
  top:1223px;
  width:325px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14586 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
