body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7161 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u7162 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u7165 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u7166 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7167 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7168 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u7169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7169 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7170 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u7171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7172 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u7173 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7174 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u7175 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7176 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u7177 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7178 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u7179 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7180 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u7181 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7183 {
  position:absolute;
  left:256px;
  top:65px;
  width:217px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7184 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u7185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u7186 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u7187 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u7188 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u7189 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:147px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u7191 {
  position:absolute;
  left:21px;
  top:1199px;
  width:243px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u7192 {
  position:absolute;
  left:2px;
  top:12px;
  width:239px;
  word-wrap:break-word;
}
#u7193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:147px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u7193 {
  position:absolute;
  left:443px;
  top:1199px;
  width:256px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u7194 {
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  word-wrap:break-word;
}
#u7195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7196 {
  position:absolute;
  left:0px;
  top:172px;
  width:720px;
  height:37px;
}
#u7197 {
  position:absolute;
  left:2px;
  top:10px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7198 {
  position:absolute;
  left:24px;
  top:180px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7199 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:100px;
}
#u7201 {
  position:absolute;
  left:0px;
  top:209px;
  width:720px;
  height:100px;
}
#u7202 {
  position:absolute;
  left:2px;
  top:42px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u7203 {
  position:absolute;
  left:24px;
  top:245px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u7204 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u7205 {
  position:absolute;
  left:679px;
  top:242px;
  width:20px;
  height:35px;
}
#u7206 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u7207 {
  position:absolute;
  left:465px;
  top:245px;
  width:200px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u7208 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
