body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5947 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u5948 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u5951 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u5952 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5953 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5954 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5955 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5958 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u5959 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5960 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u5961 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5962 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u5963 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5964 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u5965 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5966 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u5967 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5969 {
  position:absolute;
  left:288px;
  top:66px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5970 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u5972 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u5973 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u5974 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u5975 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u5978 {
  position:absolute;
  left:616px;
  top:74px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u5980 {
  position:absolute;
  left:660px;
  top:67px;
  width:40px;
  height:39px;
}
#u5981 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:70px;
}
#u5983 {
  position:absolute;
  left:30px;
  top:291px;
  width:657px;
  height:70px;
}
#u5984 {
  position:absolute;
  left:2px;
  top:27px;
  width:653px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5985 {
  position:absolute;
  left:30px;
  top:241px;
  width:140px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u5987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:228px;
}
#u5988 {
  position:absolute;
  left:30px;
  top:461px;
  width:657px;
  height:228px;
}
#u5989 {
  position:absolute;
  left:2px;
  top:106px;
  width:653px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5990 {
  position:absolute;
  left:30px;
  top:411px;
  width:164px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5991 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u5992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFCC66;
}
#u5992 {
  position:absolute;
  left:56px;
  top:313px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFCC66;
}
#u5993 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
