body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5659 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u5660 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5662 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u5663 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u5664 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5665 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5666 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5667 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5668 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5670 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u5671 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5672 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u5673 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5674 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u5675 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5676 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u5677 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5678 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u5679 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5681 {
  position:absolute;
  left:291px;
  top:66px;
  width:183px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5682 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u5683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u5684 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u5685 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u5686 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u5687 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5689 {
  position:absolute;
  left:554px;
  top:75px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5690 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u5693 {
  position:absolute;
  left:639px;
  top:57px;
  width:58px;
  height:58px;
}
#u5694 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5695 {
  position:absolute;
  left:647px;
  top:65px;
  width:42px;
  height:42px;
}
#u5696 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1152px;
}
#u5697 {
  position:absolute;
  left:0px;
  top:128px;
  width:720px;
  height:1152px;
}
#u5698 {
  position:absolute;
  left:2px;
  top:568px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5700 {
  position:absolute;
  left:183px;
  top:201px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5701 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5703 {
  position:absolute;
  left:411px;
  top:201px;
  width:37px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5704 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099FF;
}
#u5705 {
  position:absolute;
  left:448px;
  top:201px;
  width:97px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099FF;
}
#u5706 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5708 {
  position:absolute;
  left:194px;
  top:282px;
  width:340px;
  height:340px;
}
#u5709 {
  position:absolute;
  left:2px;
  top:162px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u5710 {
  position:absolute;
  left:209px;
  top:297px;
  width:310px;
  height:310px;
  font-size:28px;
}
#u5711 {
  position:absolute;
  left:2px;
  top:72px;
  width:306px;
  word-wrap:break-word;
}
#u5712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5713 {
  position:absolute;
  left:74px;
  top:685px;
  width:580px;
  height:72px;
}
#u5714 {
  position:absolute;
  left:2px;
  top:28px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:72px;
}
#u5715 {
  position:absolute;
  left:438px;
  top:685px;
  width:217px;
  height:72px;
  font-size:28px;
}
#u5716 {
  position:absolute;
  left:2px;
  top:20px;
  width:213px;
  word-wrap:break-word;
}
#u5717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5717 {
  position:absolute;
  left:217px;
  top:705px;
  width:91px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5718 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5720 {
  position:absolute;
  left:0px;
  top:1170px;
  width:360px;
  height:110px;
}
#u5721 {
  position:absolute;
  left:2px;
  top:47px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:42px;
}
#u5723 {
  position:absolute;
  left:71px;
  top:1204px;
  width:60px;
  height:42px;
}
#u5724 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5725 {
  position:absolute;
  left:176px;
  top:1209px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5726 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5728 {
  position:absolute;
  left:359px;
  top:1170px;
  width:361px;
  height:110px;
}
#u5729 {
  position:absolute;
  left:2px;
  top:47px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5731 {
  position:absolute;
  left:532px;
  top:1208px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5732 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:52px;
}
#u5733 {
  position:absolute;
  left:435px;
  top:1199px;
  width:51px;
  height:52px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5735 {
  position:absolute;
  left:231px;
  top:326px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5736 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
