body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6896 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u6897 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u6900 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u6901 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6902 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6903 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6904 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6905 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6907 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u6908 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6909 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u6910 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6911 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u6912 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6913 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u6914 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6915 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u6916 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u6918 {
  position:absolute;
  left:256px;
  top:65px;
  width:217px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u6919 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u6920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u6921 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u6922 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u6923 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u6924 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:147px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u6926 {
  position:absolute;
  left:21px;
  top:1199px;
  width:243px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u6927 {
  position:absolute;
  left:2px;
  top:12px;
  width:239px;
  word-wrap:break-word;
}
#u6928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:147px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u6928 {
  position:absolute;
  left:443px;
  top:1199px;
  width:256px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u6929 {
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  word-wrap:break-word;
}
#u6930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1016px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6930 {
  position:absolute;
  left:0px;
  top:149px;
  width:720px;
  height:1016px;
}
#u6931 {
  position:absolute;
  left:2px;
  top:500px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6933 {
  position:absolute;
  left:230px;
  top:660px;
  width:261px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6934 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u6935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:159px;
}
#u6935 {
  position:absolute;
  left:289px;
  top:482px;
  width:151px;
  height:159px;
}
#u6936 {
  position:absolute;
  left:2px;
  top:72px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
