body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4842 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u4843 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u4846 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u4847 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4848 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4849 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u4850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4850 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4851 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u4852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4853 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u4854 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4855 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u4856 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4857 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u4858 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4859 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u4860 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4861 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u4862 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4864 {
  position:absolute;
  left:220px;
  top:70px;
  width:281px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4865 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u4867 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u4868 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u4869 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u4870 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u4872 {
  position:absolute;
  left:569px;
  top:76px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4874 {
  position:absolute;
  left:662px;
  top:67px;
  width:40px;
  height:40px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:95px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4877 {
  position:absolute;
  left:0px;
  top:140px;
  width:720px;
  height:95px;
}
#u4878 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4880 {
  position:absolute;
  left:49px;
  top:157px;
  width:231px;
  height:62px;
  font-size:20px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:19px;
  width:227px;
  word-wrap:break-word;
}
#u4882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u4882 {
  position:absolute;
  left:441px;
  top:157px;
  width:231px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u4883 {
  position:absolute;
  left:2px;
  top:19px;
  width:227px;
  word-wrap:break-word;
}
#u4884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:148px;
}
#u4885 {
  position:absolute;
  left:0px;
  top:474px;
  width:720px;
  height:148px;
}
#u4886 {
  position:absolute;
  left:2px;
  top:66px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
#u4888 {
  position:absolute;
  left:20px;
  top:484px;
  width:108px;
  height:108px;
}
#u4889 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4890 {
  position:absolute;
  left:30px;
  top:551px;
  width:88px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4891 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u4892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4892 {
  position:absolute;
  left:146px;
  top:484px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4893 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4894 {
  position:absolute;
  left:146px;
  top:527px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4897 {
  position:absolute;
  left:146px;
  top:571px;
  width:30px;
  height:30px;
}
#u4898 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4899 {
  position:absolute;
  left:187px;
  top:569px;
  width:129px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4902 {
  position:absolute;
  left:415px;
  top:570px;
  width:41px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4903 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u4904 {
  position:absolute;
  left:375px;
  top:571px;
  width:30px;
  height:31px;
}
#u4905 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4907 {
  position:absolute;
  left:515px;
  top:571px;
  width:30px;
  height:30px;
}
#u4908 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4909 {
  position:absolute;
  left:555px;
  top:570px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4910 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AD9664;
}
#u4911 {
  position:absolute;
  left:566px;
  top:485px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AD9664;
}
#u4912 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u4914 {
  position:absolute;
  left:540px;
  top:523px;
  width:112px;
  height:24px;
  font-size:16px;
}
#u4915 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4916 {
  position:absolute;
  left:546px;
  top:519px;
  width:100px;
  height:32px;
  font-size:16px;
}
#u4917 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u4918 {
  position:absolute;
  left:553px;
  top:530px;
  width:11px;
  height:11px;
}
#u4919 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u4920 {
  position:absolute;
  left:629px;
  top:530px;
  width:11px;
  height:11px;
}
#u4921 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4922 {
  position:absolute;
  left:263px;
  top:482px;
  width:48px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4923 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4924 {
  position:absolute;
  left:321px;
  top:482px;
  width:48px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4925 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4926 {
  position:absolute;
  left:379px;
  top:482px;
  width:48px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4927 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4928 {
  position:absolute;
  left:437px;
  top:482px;
  width:48px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4929 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u4930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:148px;
}
#u4931 {
  position:absolute;
  left:0px;
  top:620px;
  width:720px;
  height:148px;
}
#u4932 {
  position:absolute;
  left:2px;
  top:66px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
#u4934 {
  position:absolute;
  left:20px;
  top:632px;
  width:108px;
  height:108px;
}
#u4935 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4936 {
  position:absolute;
  left:30px;
  top:699px;
  width:88px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4937 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u4938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4938 {
  position:absolute;
  left:146px;
  top:632px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4939 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4940 {
  position:absolute;
  left:146px;
  top:675px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4941 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4943 {
  position:absolute;
  left:146px;
  top:719px;
  width:30px;
  height:30px;
}
#u4944 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4945 {
  position:absolute;
  left:187px;
  top:717px;
  width:129px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4946 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4948 {
  position:absolute;
  left:415px;
  top:718px;
  width:41px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4949 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u4950 {
  position:absolute;
  left:375px;
  top:719px;
  width:30px;
  height:31px;
}
#u4951 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4953 {
  position:absolute;
  left:515px;
  top:719px;
  width:30px;
  height:30px;
}
#u4954 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4955 {
  position:absolute;
  left:555px;
  top:718px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#339966;
}
#u4957 {
  position:absolute;
  left:566px;
  top:633px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#339966;
}
#u4958 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4959 {
  position:absolute;
  left:243px;
  top:632px;
  width:271px;
  height:25px;
}
#u4960 {
  position:absolute;
  left:2px;
  top:4px;
  width:267px;
  word-wrap:break-word;
}
#u4961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u4962 {
  position:absolute;
  left:535px;
  top:671px;
  width:112px;
  height:24px;
  font-size:16px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4964 {
  position:absolute;
  left:541px;
  top:667px;
  width:100px;
  height:32px;
  font-size:16px;
}
#u4965 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u4966 {
  position:absolute;
  left:548px;
  top:678px;
  width:11px;
  height:11px;
}
#u4967 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u4968 {
  position:absolute;
  left:624px;
  top:678px;
  width:11px;
  height:11px;
}
#u4969 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:148px;
}
#u4971 {
  position:absolute;
  left:0px;
  top:767px;
  width:720px;
  height:148px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:66px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
#u4974 {
  position:absolute;
  left:20px;
  top:777px;
  width:108px;
  height:108px;
}
#u4975 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4976 {
  position:absolute;
  left:30px;
  top:844px;
  width:88px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4978 {
  position:absolute;
  left:146px;
  top:777px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4980 {
  position:absolute;
  left:146px;
  top:820px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4981 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4983 {
  position:absolute;
  left:146px;
  top:864px;
  width:30px;
  height:30px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4985 {
  position:absolute;
  left:187px;
  top:862px;
  width:129px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4988 {
  position:absolute;
  left:415px;
  top:863px;
  width:41px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4989 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u4990 {
  position:absolute;
  left:375px;
  top:864px;
  width:30px;
  height:31px;
}
#u4991 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4993 {
  position:absolute;
  left:515px;
  top:864px;
  width:30px;
  height:30px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4995 {
  position:absolute;
  left:555px;
  top:863px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4996 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AD9664;
}
#u4997 {
  position:absolute;
  left:566px;
  top:778px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AD9664;
}
#u4998 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4999 {
  position:absolute;
  left:243px;
  top:777px;
  width:271px;
  height:25px;
}
#u5000 {
  position:absolute;
  left:2px;
  top:4px;
  width:267px;
  word-wrap:break-word;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u5002 {
  position:absolute;
  left:540px;
  top:816px;
  width:112px;
  height:24px;
  font-size:16px;
}
#u5003 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u5004 {
  position:absolute;
  left:546px;
  top:812px;
  width:100px;
  height:32px;
  font-size:16px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5006 {
  position:absolute;
  left:553px;
  top:823px;
  width:11px;
  height:11px;
}
#u5007 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5008 {
  position:absolute;
  left:629px;
  top:823px;
  width:11px;
  height:11px;
}
#u5009 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:148px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:913px;
  width:720px;
  height:148px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:66px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
#u5014 {
  position:absolute;
  left:20px;
  top:925px;
  width:108px;
  height:108px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5016 {
  position:absolute;
  left:30px;
  top:992px;
  width:88px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5017 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5018 {
  position:absolute;
  left:146px;
  top:925px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5019 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5020 {
  position:absolute;
  left:146px;
  top:968px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5023 {
  position:absolute;
  left:146px;
  top:1012px;
  width:30px;
  height:30px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5025 {
  position:absolute;
  left:187px;
  top:1010px;
  width:129px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5026 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5028 {
  position:absolute;
  left:415px;
  top:1011px;
  width:41px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5029 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u5030 {
  position:absolute;
  left:375px;
  top:1012px;
  width:30px;
  height:31px;
}
#u5031 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5033 {
  position:absolute;
  left:515px;
  top:1012px;
  width:30px;
  height:30px;
}
#u5034 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5035 {
  position:absolute;
  left:555px;
  top:1011px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#339966;
}
#u5037 {
  position:absolute;
  left:566px;
  top:926px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#339966;
}
#u5038 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5039 {
  position:absolute;
  left:243px;
  top:925px;
  width:271px;
  height:25px;
}
#u5040 {
  position:absolute;
  left:2px;
  top:4px;
  width:267px;
  word-wrap:break-word;
}
#u5041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u5042 {
  position:absolute;
  left:535px;
  top:964px;
  width:112px;
  height:24px;
  font-size:16px;
}
#u5043 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u5044 {
  position:absolute;
  left:541px;
  top:960px;
  width:100px;
  height:32px;
  font-size:16px;
}
#u5045 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u5046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5046 {
  position:absolute;
  left:548px;
  top:971px;
  width:11px;
  height:11px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5048 {
  position:absolute;
  left:624px;
  top:971px;
  width:11px;
  height:11px;
}
#u5049 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:78px;
}
#u5050 {
  position:absolute;
  left:227px;
  top:362px;
  width:267px;
  height:78px;
  color:#FFFFFF;
}
#u5051 {
  position:absolute;
  left:2px;
  top:10px;
  width:263px;
  word-wrap:break-word;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u5054 {
  position:absolute;
  left:26px;
  top:265px;
  width:180px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u5055 {
  position:absolute;
  left:2px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u5056 {
  position:absolute;
  left:35px;
  top:274px;
  width:28px;
  height:31px;
}
#u5057 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u5058 {
  position:absolute;
  left:169px;
  top:274px;
  width:28px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5059 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u5061 {
  position:absolute;
  left:270px;
  top:265px;
  width:180px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u5062 {
  position:absolute;
  left:2px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u5063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u5063 {
  position:absolute;
  left:279px;
  top:274px;
  width:28px;
  height:31px;
}
#u5064 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u5065 {
  position:absolute;
  left:413px;
  top:274px;
  width:28px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5066 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u5068 {
  position:absolute;
  left:515px;
  top:265px;
  width:180px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u5069 {
  position:absolute;
  left:2px;
  top:16px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:76px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5071 {
  position:absolute;
  left:624px;
  top:272px;
  width:60px;
  height:33px;
}
#u5072 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5073_img {
  position:absolute;
  left:-7px;
  top:-3px;
  width:41px;
  height:41px;
}
#u5073 {
  position:absolute;
  left:624px;
  top:273px;
  width:31px;
  height:31px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u5075 {
  position:absolute;
  left:546px;
  top:281px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
