body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u12265 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u12268 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u12269 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12270 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12271 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u12272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12272 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12273 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u12274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12275 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u12276 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12277 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u12278 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12279 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u12280 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12281 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u12282 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12283 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u12284 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12286 {
  position:absolute;
  left:292px;
  top:66px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12287 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u12289 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u12290 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u12291 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u12292 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12293 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:89px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12294 {
  position:absolute;
  left:0px;
  top:266px;
  width:719px;
  height:89px;
}
#u12295 {
  position:absolute;
  left:2px;
  top:36px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u12296 {
  position:absolute;
  left:29px;
  top:297px;
  width:145px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u12297 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12298 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:89px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12299 {
  position:absolute;
  left:0px;
  top:174px;
  width:719px;
  height:89px;
}
#u12300 {
  position:absolute;
  left:2px;
  top:36px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u12301 {
  position:absolute;
  left:29px;
  top:205px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u12302 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:76px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12304 {
  position:absolute;
  left:602px;
  top:195px;
  width:100px;
  height:48px;
}
#u12305 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12306_img {
  position:absolute;
  left:-7px;
  top:-3px;
  width:56px;
  height:56px;
}
#u12306 {
  position:absolute;
  left:654px;
  top:196px;
  width:46px;
  height:46px;
}
#u12307 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
