body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4467 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u4468 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4469 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u4471 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u4472 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4473 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4474 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u4475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4475 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4476 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u4477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4478 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u4479 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4480 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u4481 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4482 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u4483 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4484 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u4485 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4486 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u4487 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4489 {
  position:absolute;
  left:270px;
  top:66px;
  width:181px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4490 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u4492 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u4493 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u4494 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u4495 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1155px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4496 {
  position:absolute;
  left:0px;
  top:125px;
  width:720px;
  height:1155px;
}
#u4497 {
  position:absolute;
  left:2px;
  top:570px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:226px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4499 {
  position:absolute;
  left:26px;
  top:151px;
  width:668px;
  height:82px;
}
#u4500 {
  position:absolute;
  left:2px;
  top:33px;
  width:664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u4501 {
  position:absolute;
  left:82px;
  top:178px;
  width:79px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u4502 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u4503 {
  position:absolute;
  left:631px;
  top:173px;
  width:39px;
  height:39px;
}
#u4504 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:148px;
}
#u4506 {
  position:absolute;
  left:0px;
  top:247px;
  width:720px;
  height:148px;
}
#u4507 {
  position:absolute;
  left:2px;
  top:66px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 204, 102, 0.498039215686275);
}
#u4508 {
  position:absolute;
  left:609px;
  top:309px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 204, 102, 0.498039215686275);
}
#u4509 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4510 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
#u4511 {
  position:absolute;
  left:20px;
  top:267px;
  width:108px;
  height:108px;
}
#u4512 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4513 {
  position:absolute;
  left:30px;
  top:334px;
  width:88px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4514 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u4515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4515 {
  position:absolute;
  left:146px;
  top:278px;
  width:94px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4516 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u4517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4518 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u4519 {
  position:absolute;
  left:146px;
  top:352px;
  width:15px;
  height:19px;
}
#u4520 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4522 {
  position:absolute;
  left:171px;
  top:350px;
  width:124px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4523 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
