body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u9965 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  font-size:20px;
  color:#FFCC66;
}
#u9966 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u9969 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u9970 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9971 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9972 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u9973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9973 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9974 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u9975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9976 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u9977 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9978 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u9979 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9980 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u9981 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9982 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u9983 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9984 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u9985 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u9987 {
  position:absolute;
  left:270px;
  top:66px;
  width:181px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u9988 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u9989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u9990 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u9991 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u9992 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u9993 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u9995 {
  position:absolute;
  left:577px;
  top:74px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u9996 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9997 {
  position:absolute;
  left:659px;
  top:66px;
  width:40px;
  height:40px;
}
#u9998 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:271px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10001 {
  position:absolute;
  left:0px;
  top:436px;
  width:720px;
  height:271px;
}
#u10002 {
  position:absolute;
  left:2px;
  top:128px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10003 {
  position:absolute;
  left:513px;
  top:447px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u10004 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u10005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10005 {
  position:absolute;
  left:24px;
  top:533px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u10006 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u10007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10007 {
  position:absolute;
  left:267px;
  top:533px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u10008 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u10009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10009 {
  position:absolute;
  left:513px;
  top:533px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u10010 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u10011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10011 {
  position:absolute;
  left:24px;
  top:623px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u10012 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u10013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10013 {
  position:absolute;
  left:24px;
  top:447px;
  width:187px;
  height:62px;
  font-size:20px;
}
#u10014 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u10015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10015 {
  position:absolute;
  left:267px;
  top:447px;
  width:187px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u10016 {
  position:absolute;
  left:2px;
  top:19px;
  width:183px;
  word-wrap:break-word;
}
#u10017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u10018 {
  position:absolute;
  left:605px;
  top:348px;
  width:48px;
  height:50px;
}
#u10019 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u10020 {
  position:absolute;
  left:67px;
  top:348px;
  width:48px;
  height:50px;
}
#u10021 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10023 {
  position:absolute;
  left:220px;
  top:350px;
  width:280px;
  height:48px;
}
#u10024 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10026 {
  position:absolute;
  left:298px;
  top:363px;
  width:106px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10027 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u10028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:93px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10029 {
  position:absolute;
  left:0px;
  top:227px;
  width:719px;
  height:93px;
  font-size:20px;
  color:#FFCC66;
}
#u10030 {
  position:absolute;
  left:2px;
  top:38px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10032 {
  position:absolute;
  left:360px;
  top:253px;
  width:147px;
  height:42px;
  font-size:20px;
  color:#FFCC66;
}
#u10033 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u10034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10034 {
  position:absolute;
  left:506px;
  top:253px;
  width:147px;
  height:42px;
  font-size:20px;
  color:#FFCC66;
}
#u10035 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u10036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10036 {
  position:absolute;
  left:67px;
  top:253px;
  width:147px;
  height:42px;
  font-size:20px;
}
#u10037 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u10038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10038 {
  position:absolute;
  left:214px;
  top:253px;
  width:147px;
  height:42px;
  font-size:20px;
  color:#FFCC66;
}
#u10039 {
  position:absolute;
  left:2px;
  top:9px;
  width:143px;
  word-wrap:break-word;
}
#u10040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:64px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10041 {
  position:absolute;
  left:1px;
  top:138px;
  width:720px;
  height:64px;
}
#u10042 {
  position:absolute;
  left:2px;
  top:24px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u10044 {
  position:absolute;
  left:187px;
  top:147px;
  width:349px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F6DAAA;
}
#u10045 {
  position:absolute;
  left:2px;
  top:16px;
  width:345px;
  word-wrap:break-word;
}
#u10046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u10046 {
  position:absolute;
  left:199px;
  top:155px;
  width:28px;
  height:31px;
}
#u10047 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u10048 {
  position:absolute;
  left:496px;
  top:155px;
  width:28px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u10049 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:73px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10052 {
  position:absolute;
  left:29px;
  top:717px;
  width:328px;
  height:73px;
  font-size:20px;
  color:#FFCC66;
}
#u10053 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10056 {
  position:absolute;
  left:77px;
  top:743px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10057 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u10058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10058 {
  position:absolute;
  left:43px;
  top:745px;
  width:18px;
  height:18px;
}
#u10059 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u10060 {
  position:absolute;
  left:263px;
  top:742px;
  width:73px;
  height:24px;
  font-size:20px;
  color:#FFCC66;
  text-align:right;
}
#u10061 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:73px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10064 {
  position:absolute;
  left:366px;
  top:717px;
  width:328px;
  height:73px;
  font-size:20px;
  color:#FFCC66;
}
#u10065 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10068 {
  position:absolute;
  left:414px;
  top:743px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10069 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10070 {
  position:absolute;
  left:380px;
  top:745px;
  width:18px;
  height:18px;
}
#u10071 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u10072 {
  position:absolute;
  left:647px;
  top:742px;
  width:23px;
  height:24px;
  font-size:20px;
  color:#FFCC66;
  text-align:right;
}
#u10073 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u10074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:73px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10077 {
  position:absolute;
  left:29px;
  top:800px;
  width:328px;
  height:73px;
  font-size:20px;
  color:#FFCC66;
}
#u10078 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10081 {
  position:absolute;
  left:77px;
  top:826px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10082 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10083 {
  position:absolute;
  left:43px;
  top:828px;
  width:18px;
  height:18px;
}
#u10084 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
}
#u10085 {
  position:absolute;
  left:219px;
  top:825px;
  width:117px;
  height:24px;
  font-size:20px;
  color:#FFCC66;
  text-align:right;
}
#u10086 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u10087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:73px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10089 {
  position:absolute;
  left:366px;
  top:800px;
  width:328px;
  height:73px;
  font-size:20px;
  color:#FFCC66;
}
#u10090 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10093 {
  position:absolute;
  left:414px;
  top:826px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10094 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10095 {
  position:absolute;
  left:380px;
  top:828px;
  width:18px;
  height:18px;
}
#u10096 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:24px;
}
#u10097 {
  position:absolute;
  left:531px;
  top:825px;
  width:139px;
  height:24px;
  font-size:20px;
  color:#FFCC66;
  text-align:right;
}
#u10098 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u10099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:73px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10102 {
  position:absolute;
  left:29px;
  top:883px;
  width:328px;
  height:73px;
  font-size:20px;
  color:#FFCC66;
}
#u10103 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10106 {
  position:absolute;
  left:77px;
  top:909px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10107 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10108 {
  position:absolute;
  left:43px;
  top:911px;
  width:18px;
  height:18px;
}
#u10109 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
}
#u10110 {
  position:absolute;
  left:219px;
  top:908px;
  width:117px;
  height:24px;
  font-size:20px;
  color:#FFCC66;
  text-align:right;
}
#u10111 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u10112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:73px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10114 {
  position:absolute;
  left:366px;
  top:883px;
  width:328px;
  height:73px;
  font-size:20px;
  color:#FFCC66;
}
#u10115 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10118 {
  position:absolute;
  left:414px;
  top:909px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10119 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u10120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10120 {
  position:absolute;
  left:380px;
  top:911px;
  width:18px;
  height:18px;
}
#u10121 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
}
#u10122 {
  position:absolute;
  left:575px;
  top:908px;
  width:95px;
  height:24px;
  font-size:20px;
  color:#FFCC66;
  text-align:right;
}
#u10123 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:73px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u10127 {
  position:absolute;
  left:29px;
  top:966px;
  width:328px;
  height:73px;
  font-size:20px;
  color:#FFCC66;
}
#u10128 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10131 {
  position:absolute;
  left:77px;
  top:992px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#66CCFF;
}
#u10132 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10133 {
  position:absolute;
  left:43px;
  top:994px;
  width:18px;
  height:18px;
}
#u10134 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u10135 {
  position:absolute;
  left:274px;
  top:991px;
  width:62px;
  height:24px;
  font-size:20px;
  color:#FFCC66;
  text-align:right;
}
#u10136 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u10137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:89px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10139 {
  position:absolute;
  left:15px;
  top:1090px;
  width:685px;
  height:89px;
}
#u10140 {
  position:absolute;
  left:2px;
  top:36px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u10141 {
  position:absolute;
  left:91px;
  top:1121px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u10142 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u10143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u10143 {
  position:absolute;
  left:661px;
  top:1117px;
  width:20px;
  height:35px;
}
#u10144 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10145 {
  position:absolute;
  left:34px;
  top:1115px;
  width:40px;
  height:40px;
}
#u10146 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:89px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10148 {
  position:absolute;
  left:15px;
  top:1182px;
  width:685px;
  height:89px;
}
#u10149 {
  position:absolute;
  left:2px;
  top:36px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u10150 {
  position:absolute;
  left:91px;
  top:1213px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u10151 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u10152 {
  position:absolute;
  left:661px;
  top:1209px;
  width:20px;
  height:35px;
}
#u10153 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10154 {
  position:absolute;
  left:37px;
  top:1210px;
  width:35px;
  height:35px;
}
#u10155 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
