body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14719 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u14720 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u14723 {
  position:absolute;
  left:650px;
  top:10px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u14724 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14725 {
  position:absolute;
  left:609px;
  top:9px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14726 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14727 {
  position:absolute;
  left:340px;
  top:9px;
  width:48px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14728 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u14729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14730 {
  position:absolute;
  left:82px;
  top:11px;
  width:18px;
  height:18px;
}
#u14731 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14732 {
  position:absolute;
  left:21px;
  top:11px;
  width:18px;
  height:18px;
}
#u14733 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14734 {
  position:absolute;
  left:41px;
  top:11px;
  width:18px;
  height:18px;
}
#u14735 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14736 {
  position:absolute;
  left:61px;
  top:11px;
  width:18px;
  height:18px;
}
#u14737 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14738 {
  position:absolute;
  left:102px;
  top:11px;
  width:18px;
  height:18px;
}
#u14739 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u14741 {
  position:absolute;
  left:325px;
  top:66px;
  width:78px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u14742 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u14743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u14744 {
  position:absolute;
  left:24px;
  top:57px;
  width:58px;
  height:58px;
}
#u14745 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u14746 {
  position:absolute;
  left:41px;
  top:69px;
  width:20px;
  height:35px;
}
#u14747 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:135px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u14749 {
  position:absolute;
  left:1px;
  top:137px;
  width:719px;
  height:135px;
  font-size:20px;
  color:#FFCC66;
}
#u14750 {
  position:absolute;
  left:2px;
  top:60px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u14751 {
  position:absolute;
  left:22px;
  top:168px;
  width:123px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u14752 {
  position:absolute;
  left:2px;
  top:19px;
  width:119px;
  word-wrap:break-word;
}
#u14753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 204, 102, 0.8);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u14753 {
  position:absolute;
  left:575px;
  top:168px;
  width:123px;
  height:62px;
  font-size:20px;
  color:#000000;
}
#u14754 {
  position:absolute;
  left:2px;
  top:19px;
  width:119px;
  word-wrap:break-word;
}
#u14755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u14755 {
  position:absolute;
  left:391px;
  top:168px;
  width:123px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u14756 {
  position:absolute;
  left:2px;
  top:19px;
  width:119px;
  word-wrap:break-word;
}
#u14757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC66;
}
#u14757 {
  position:absolute;
  left:206px;
  top:168px;
  width:123px;
  height:62px;
  font-size:20px;
  color:#FFCC66;
}
#u14758 {
  position:absolute;
  left:2px;
  top:19px;
  width:119px;
  word-wrap:break-word;
}
#u14759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14759 {
  position:absolute;
  left:127px;
  top:161px;
  width:18px;
  height:18px;
}
#u14760 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
